.container{
    flex-wrap : wrap;
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    border: solid black 1px;
}

.content{
    width: 68%;
    margin-left: 2%;
}
.questions{
    width: 29%;
    border-right: solid black 1px;
}
.title{
    display: inline-block;
    flex: 0 0 100%;
    text-align: center;
}
.summary{
    flex: 0 0 100%;
    text-align: left;
    border-top: solid black 1px;
}
.summary_content{
    padding: 1% 1% 1% 1%;
}
